<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/login/joinForm" method="post" th:object="${memberDto}" id="joinForm" class="loginForm">

    <p>
        <label>비밀번호:<br/>
            <input type="text" th:field="*{mem_pw}" />
        </label>
    </p>

    <p>
        <label>이름:<br/>
            <input type="text" th:field="*{mem_name}" />
        </label>
    </p>

    <p>
        <label>부서:<br/>
            <input type="text" th:field="*{job}" />
        </label>
    </p>




    <input type="submit" value="등록" id="buttonS">
</form>

</body>
</html>